<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Assignment No. 1</title>
</head>

<body>
    <ul>
        <li><a href="#firstSection">First Section</a></li>
        <li><a href="#secondSection">Second Section</a></li>
        <li><a href="#thirdSection">Third Section</a></li>
        <li><a href="#pictureOfGustavMahler">Picture of Gustav Mahler</a></li>
    </ul>
    <hr>
    <div id="firstSection" style="height: 50vh;">
        <h3>First Section</h3>
    </div>
    <hr>
    <div id="secondSection" style="height: 50vh;">
        <h3>Second Section</h3>
    </div>
    <hr>
    <div id="thirdSection" style="height: 50vh;">
        <h3>Third Section</h3>
    </div>
    <div id="pictureOfGustavMahler" style="
        height: 25vh;
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/Photo_of_Gustav_Mahler_by_Moritz_N%C3%A4hr_01.jpg/330px-Photo_of_Gustav_Mahler_by_Moritz_N%C3%A4hr_01.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
     ">

    </div>
</body>

</html>